<h1>{{subjectTitle}}</h1>
<p>{{greeting}} {{firstName}},</p>
<p>{{intro}}</p>
<a href="{{verificationLink}}">{{buttonText}}</a>
<p>{{fallbackText}}</p>
<p>{{verificationLink}}</p>
<p>{{expiresText}}</p>
<p>{{ignoreText}}</p>
<p>{{regards}}<br>{{teamName}}</p>
<p>{{footerText}}</p>